@import url('https://fonts.googleapis.com/css?family=Nunito:600,800|Playfair+Display:700|Poppins:500');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
*/

body {
  background-color: #fff;
}

header {
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  /* background: rgba(153, 153, 153, 0.3); */
}

/* cyan background square*/
.cyan-background-square {
  width: 33vw;
  height: 40vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background: linear-gradient(#b4d3d3, #d9e7e7);
}

/* grey background square */
.grey-background-square-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.grey-background-square {
  width: 60vw;
  height: 80vh;
  display: flex;
  align-self: flex-end;
  justify-self: end;
  justify-content: end;
  vertical-align: bottom;
  position: absolute;
  top: 17vh;
  bottom: 0;
  left: 17vw;
  z-index: -1;
  background: url(../img/header/young-model2.jpeg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

/* the navigation menu */
.header-top,
.header-middle {
  padding: 1rem;
  /* border: 1px dashed #999; */
}

.header-middle {
  margin: 1rem 0 0 0;
}

/* profile name and line with page number container*/
.header-profile section {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  /* border: 1px dashed #999; */
}

.current-page-number {
  padding: 0 0 0 0.5rem;
}

/* profile name and brief info*/
.header-profile-info {
  margin: 0 0 0 1rem;
  /* border: 1px dashed #999; */
}

/* header profile info */
.header-profile-info {
  margin: 0;
  padding: 0 0 0 calc(4.6rem - 2vw);
}

/* profile name */
.header-profile-info h2 {
  display: flex;
  flex-direction: column;
  margin: 1.7rem 0 0 0;
  line-height: 4.3rem;
  font-size: 4.3rem;
  font-family: 'Poppins', sans-serif;
  color: rgb(26, 26, 29);
  font-weight: 500;
  letter-spacing: 0.09rem;
}

.header-profile-info p {
  padding: 2.2rem 0 0 0;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: 'Nunito', sans-serif;
  color: rgb(26, 26, 29);
  font-weight: 600;
  letter-spacing: 0.17rem;
}

/* header-bottom profile-viewer btn */
.header-bottom-profile-viewer-btn {
  margin: 7rem 0 0 0.6rem;
  /* border: 1px dashed #999; */
}

/* header-bottom profile-viewer btn text */
.header-bottom-profile-viewer-btn .text {
  margin: 0 0 0 0.1rem;
  padding: 1.9rem 2.85rem;
  background: #b4d3d3;
  font-size: 0.6rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.12rem;
}

/* header-bottom profile-viewer play button */
.header-bottom-profile-viewer-btn a {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 0;
  color: rgb(26, 26, 29);
}

.header-bottom-profile-viewer-btn .profile-button {
  margin: 0 0 0 -0.25rem;
  padding: 1.7rem 1.9rem 1.9rem 1.9rem;
  background: #fff;
}

.VIEW_PROFILE_ {
  font-size: 14px;
  font-family: 'Nunito';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.143;
  text-align: center;
  position: absolute;
  left: 124.901px;
  top: 1010.499px;
  z-index: 27;
}

/* header-bottom profile-viewer btn text */

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* all displayed nav links*/
.topnav a {
  display: inline-block;
  /* padding: 0.7rem 0.9rem; */
  color: rgb(26, 26, 29);
  text-decoration: none;
}

/* menu button and displayed links */
.topnav-left {
  padding: 0.4rem 0 0.4rem 0.5rem;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.topnav-left a {
  padding-right: 1.8rem;
}

/* menu button */
.topnav-left .icon {
  font-size: 1rem;
}

/* the logo */
.topnav-center {
  margin: 0;
  margin-left: calc(-24.4vw - (-130px));
  /* padding: 0.2rem 0; */
  line-height: 0;
}

.topnav-center .logo-first-half {
  margin: 0;
  /* padding: 0 0.4rem 0 0; */
  font-size: 1.81rem;
  font-family: 'Playfair Display', serif;
}

.topnav-center .logo-second-half {
  margin-left: 0.3rem;
  font-size: 1.81rem;
  font-family: 'Playfair Display', serif;
}

/* menu hidden links */
.topnav #myLinks {
  display: none;
  color: rgb(26, 26, 29);
}

/* menu icon */
.topnav a.icon {
  display: inline-block;
}

.topnav a:hover {
  color: #b4d3d3;
}

/* font-awesome icons */
.fa-bars,
.fa-search {
  color: rgb(26, 26, 29);
}

.fa-bars:hover,
.fa-search:hover {
  color: #b4d3d3;
}

/* social network links */
.social-network ul {
  margin: 0;
  padding: 2.9rem 0 0 0;
  list-style-type: none;
}

.social-network ul li {
  padding: 1.2rem 0 0 0.7rem;
}

.social-network ul a {
  font-size: 0.9rem;
  color: rgb(26, 26, 29);
}

.social-network ul a:hover {
  color: #b4d3d3;
}

/* current page number decor. line under social links */
.current-page-number img {
  margin: 0 0 0 -0.7rem;
  padding: 6rem 0 0 0;
}

/* clients container section */

.clients-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* clients portfolio header */
.clients-container-item.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clients-container-item.header ul li {
  display: inline-block;
}

.clients-container-item.header ul li a {
  text-transform: uppercase;
  text-decoration: none;
}

/* clients portfolios */
.clients-container-item.portfolios {
  display: flex;
  flex-direction: column;
}

.clients-container-item.portfolios .row-1,
.clients-container-item.portfolios .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 0 -4px 0;
  padding: 0;
}

.client-portfolio-container:hover .overlay-image-container {
  opacity: 1;
}

.overlay-image-container {
  /* position: absolute; */
  /* display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}

.clients-container-item.portfolios
  .client-portfolio-container
  .client-portfolio
  img {
  display: block;
  width: 100%;
  height: auto;
}

/* client portfolio overlay info */
.client-portfolio-container {
  overflow: hidden;
}

.client-portfolio-image-overlay-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  top: -125px;
  margin-bottom: -60px;
  padding: 0;
}

.client-portfolio:hover .client-portfolio-image-overlay-info {
  display: flex;
}

.client-portfolio-image-overlay-info h3,
.client-portfolio-image-overlay-info p {
  margin: 0;
  padding: 0;
}

/* end of clients container section */
